@model LoginViewModel

@{
    ViewBag.Title = "Acesso Negado";
}



<div class="row">
    <div class="col-md-4" style="margin:0 auto">
        <div class="alert alert-dismissible alert-danger">
            <strong>Acesso Negado !</strong> Contacte o Admin
        </div>
    </div>
</div>